<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgwfeAfdf6y6-Fb4O7MmS9tHh8tmsVbTc</string>
	<key>GCM_SENDER_ID</key>
	<string>713439564101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tStore</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-e17b3</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-e17b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713439564101:ios:65b006ee29ed8e465e6e2c</string>
</dict>
</plist>